.navigation {
    width: 85vw;
    background-color: rgb(144, 238, 144);
    border-radius: 2px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
}

body {
    background-color: greenyellow;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

.photolist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 20px;
    justify-content: center;
}

.photoitem {
    text-align: center; 
    background-color: white; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.photoitem img {
    max-width: 100%; 
    height: auto; 
    border-radius: 5px; 
}

.photoitem p {
    margin: 10px 0;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.photoitem button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.photoitem button:hover {
    background-color: #45a049;
}


footer{
    border: 1px solid black;
    background-image: url(./image/photo\ 56.jpg) ;
    margin-top: 10px;
    height: 50px;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    position: fixed;
    width: 100vw;
    text-align: center;

}