.navigation {
    width: 85vw;
    background-color: rgb(144, 238, 144);
    border-radius: 2px;
    position: fixed;
    
    display: flex;
    height: 20px;
    justify-content: space-evenly;
    align-items: center;

}
