.navigation {
    width: 95vw;
    background-color: lightgreen;
    border-radius: 5px;
    position: fixed;
    top: 0;
    display: flex;
    height: 20px;
    justify-content: space-evenly;
    align-items: center;

}
.photoitem {
    text-align: left;
    
}
img {
    width: 300px;
    height: 300px;
    
    margin-left: 1px;
}
body {
    background-image: url(./image/background.jpg) ;
    border: 90px;
    background-size: 100%;
    background-repeat: no-repeat;
}
footer{
        border: 1px solid black;
        background-image: url(./image/footer.jpeg);
        margin-top: 10px;
        height: 50px;
        border-radius: 7px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        bottom: 0;
        position: fixed;
        width: 100vw;
        text-align: center;
        
    
}